body {
    margin: 0;
    padding-top: 120px;
}
html {
    scroll-behavior: smooth;
}
.topheader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: beige;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 100;
}
.Menu_Horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20px;
}
.Menu_Horizontal li a {
    text-decoration: none;
    color: saddlebrown;
}
.Menu_Horizontal li a:hover {
    font-weight: 700;
    text-decoration: underline;
}
.Menu_Horizontal button {
    font-weight: 700;
    padding: 10px 20px;
    background-color: saddlebrown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.imagen_grande {
    z-index: 1;
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
    height: 60vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    border: 2px solid black;
}
.vaca{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.logo1{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 300px;
}
/* Seccion conocenos */
.Conocenos{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    gap: 100px;
    position: static;
    max-width: 1400px;
}
.quienes-somos{
    color: rgb(89,50,50);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
    max-width: 500px;
}
.quienes-somos h1{
    text-decoration: underline;
    font-size: 2rem;
}
.quienes-somos p{
    background-color: rgb(207, 165, 134);
    border-radius: 15px;
    padding: 20px;
    max-width: 500px;
    line-height: 1.2;
    white-space: pre-line;
}
.imagen_granja img{
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    flex-shrink: 0;
}
