body {
    margin: 0;
    padding-top: 120px;
    min-width: 1200px;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}
.topheader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: beige;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 100;
}
.Menu_Horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20px;
}
.Menu_Horizontal li a {
    text-decoration: none;
    color: saddlebrown;
}
.Menu_Horizontal li a:hover {
    font-weight: 700;
    text-decoration: underline;
}
.Menu_Horizontal button {
    font-weight: 700;
    padding: 10px 20px;
    background-color: saddlebrown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.imagen_grande {
    z-index: 1;
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
    height: 60vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    border: 2px solid black;
}
.vaca{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.logo1{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 300px;
}
/* Seccion conocenos */
.Conocenos{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    gap: 100px;
    position: static;
    max-width: 1400px;
}
.quienes-somos{
    color: rgb(89,50,50);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
    max-width: 500px;
}
.quienes-somos h1{
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 20px;
}
.quienes-somos p{
    background-color: rgb(207, 165, 134);
    border-radius: 15px;
    padding: 20px;
    max-width: 500px;
    line-height: 1.2;
    white-space: pre-line;
}
.imagen_granja img{
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    flex-shrink: 0;
}
/* Seccion Conocenos */
.descripcion{
    color: rgb(89,50,50);
    display: flex;
    padding: 30px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: static;
    gap: 60px;
    max-width: 1400px;
    margin: 0 auto;
}
/* Div que es */
.que-es{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
}
.que-es button{
    border-radius: 20px;
    font-size: 1.1rem;
    cursor: pointer;
    padding-right: 1.2cm;
    padding-left: 1.2cm;
    margin: 20px;
    background-color: rgb(23, 26, 74);
    color: rgb(255,246,243);
    transition: background-color 0.3s;
}
.que-es h1{
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
    margin-bottom: 20px;
}
/* Div contenedor-que-es */
.cont-que-es{
    display: flex;
    background-color: rgb(207, 165, 134);
    align-items: center;
    border-radius: 15px;
    
}
.cont-que-es p{
    line-height: 1.5;
    margin: 10px;
    flex: 1;
}
.cont-que-es img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 15px;
    flex-shrink: 0;
    
}
/* Div como funciona */
.como-funciona{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
}
.como-funciona button{
    border-radius: 20px;
    font-size: 1.1rem;
    cursor: pointer;
    padding-right: 1.2cm;
    padding-left: 1.2cm;
    margin: 20px;
    background-color: rgb(23, 26, 74);
    color: rgb(255,246,243);
    transition: background-color 0.3s;
}
.como-funciona h1{
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
    margin-bottom: 20px;
}
.cont-funciona{
    display: flex;
    background-color: rgb(207, 165, 134);
    align-items: center;
    border-radius: 15px;
}
.cont-funciona img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 15px;
    flex-shrink: 0;
}
.como-funciona p{
    line-height: 1.5;
    margin: 10px;
    flex: 1;
}