body {
    margin: 0;
    padding-top: 120px;
}
.topheader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: beige;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.Menu_Horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20px;
}
.Menu_Horizontal li a {
    text-decoration: none;
    color: saddlebrown;
}
.Menu_Horizontal li a:hover {
    font-weight: 700;
    text-decoration: underline;
}
.Menu_Horizontal button {
    font-weight: 700;
    padding: 10px 20px;
    background-color: saddlebrown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.imagen_grande {
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
    height: 60vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    border: 2px solid black;
}
.vaca{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.logo1{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 300px;
}