body {
    margin: 0;
    padding-top: 120px;
}
.topheader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: beige;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.Menu_Horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20px;
}
.Menu_Horizontal li a {
    text-decoration: none;
    color: saddlebrown;
}
.Menu_Horizontal li a:hover {
    font-weight: 700;
    text-decoration: underline;
}
.Menu_Horizontal button {
    font-weight: 700;
    padding: 10px 20px;
    background-color: saddlebrown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.imagen_grande {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.imagen_grande img {
    width: 95%;
    height: auto;
    border-radius: 8px;
    border: 2px solid black;
    display: block;
}